@model SoccerManageApp.Dtos.ChangePasswordModel
<h3>Update information</h3>
<form asp-action="ChangePassword" asp-route-userName="@Model.Username" method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label >Username </label>
    <input type="text" asp-for="@Model.Username" readonly value="@Model.Username"/>
    <span asp-validation-for="@Model.Username"></span>
</div>
<div class="form-group">
    <label >Old Password </label>
    <input type="text" asp-for="@Model.OldPassword"/>
    <span asp-validation-for="@Model.OldPassword"></span>
</div>
<div class="form-group">
    <label >New Password </label>
    <input type="text" asp-for="@Model.NewPassword"/>
    <span asp-validation-for="@Model.NewPassword"></span>
</div>
<div class="form-group">
    <button type="submit">Update</button>
    <a href="/Home/Index">Back</a>
</div>
</form>