@model SoccerManageApp.Models.Entities.Player
@{
    ViewData["Title"] = "Create Player";
}
@section Styles{
    <link href="~/css/page/CreateMatches.css" rel="stylesheet" />
}
<h3> Add player for <span class="text-danger">@ViewBag.Team.TeamName </span>club</h3>
<div class="form-create">
    <form asp-action="Create" asp-controller="Team" asp-route-teamId="@ViewBag.Team.TeamID" method="POST">
        <div class="input-def">
            <label asp-for="@Model.FirstName">Firstname</label>
            <input asp-for="@Model.FirstName" type="text">
            <span asp-validation-for="@Model.FirstName"></span>
        </div>
        <div class="input-def">
            <label asp-for="@Model.LastName">Lastname</label>
            <input asp-for="@Model.LastName" type="text">
            <span asp-validation-for="@Model.LastName"></span>
        </div>
        <div class="input-def">
            <label asp-for="@Model.Kit">Kit Number</label>
            <input asp-for="@Model.Kit" type="text">
            <span asp-validation-for="@Model.Kit"></span>
        </div>
        <div class="input-def">
            <label asp-for="@Model.Position">Position</label>
            <input asp-for="@Model.Position" type="text">
            <span asp-validation-for="@Model.Position"></span>
        </div>
        <div class="input-def">
            <label asp-for="@Model.Country">Country</label>
            <input asp-for="@Model.Country" type="text">
            <span asp-validation-for="@Model.Country"></span>
        </div>
        <div class="input-def">
            <label asp-for="@Model.TeamName">Team ID</label>
            <input asp-for="@Model.TeamName" type="text">
            <span asp-validation-for="@Model.TeamName"></span>
        </div>

        <div class="input-def">
            <label asp-for="@Model.CountryImage">Country Image</label>
            <input asp-for="@Model.CountryImage" type="text">
            <span asp-validation-for="@Model.CountryImage"></span>
        </div>

        <div>
            <input type="submit" value="Add Player">
        </div>
    </form>
</div>


