@model IEnumerable<SoccerManageApp.Dtos.TeamDetails>
@{
    ViewData["Title"] = "Details";
}
<form asp-action="Index" method="GET">
    <input type="hidden" readonly value="@ViewBag.teamName" name="teamName" />
    <input type="text" name="nameCountry" placeholder="Search by country">
    
    <button type="submit">Search</button>
</form>
          <h2>@ViewBag.teamName  <img src="~/Image/@ViewData["TeamImage"]"></h2>

   @if(Model.Count()>0)
   {        
<table border="2" cellpadding="30">
    <thead>
        <th>Players</th>
        <th>Position</th>
        <th>Nationality</th>

    </thead>
    <tbody>
         @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName @item.LastName</td>
                        <td>@item.Position</td>
                        <td>@item.Country
                             <img src="~/Image/@item.CountryImage">
                        </td>
                    </tr>
                        
                }


    </tbody>
</table>
<a asp-action="ListTeams" asp-controller="Team">Back To Teams</a>
   }else
   {
       <h3>No player available</h3>
   }
@section Scripts{
    <script src="~/js/custom.js"></script>
}